.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1vh;
  padding-left: 5vw;
  padding-right: 5vw;
}
.App-header img {
  max-width: 5vw;
  max-height: 5vw;
}
.App-header nav {
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header a {
  height: 5vh;
  color: #61dafb;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .App-header {
    height: 7.5vh;
    padding: 1vw;
  }
  .App-header a img {
    display: none;
  }
  .App-header nav {
    padding-top: 2vh;
  }
}
@media screen and (min-width: 601px) {
  .App-header a img {
    margin-left: 1vw;
    margin-bottom: -1.5vh;
    height: 5vh;
  }
}
