.Searchbar_body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 25vw;
  width: 50vw;
  height: 10vh;
  padding: 1vw;
  background-color: #282c34;
  border: 50px, solid, #61dafb;
  border-radius: 50px;
}
.Searchbar_body input {
  background-color: #282c34;
  padding: 1vw;
  padding-left: 0;
  width: 20vw;
  color: white;
  border: none;
  font-size: 1.5rem;
}

.Searchbar_body button {
  margin-left: 2.5vw;
  background-color: #282c34;
  border: none;
  color: #61dafb;
  font-size: 1.5rem;
}
.Searchbar_body img {
  height: 5vh;
}
.Search_filters {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.Search_filters input {
  width: 2.5vw;
  display: inline-block;
}
.Search_filters label {
  text-align: left;
  color: #61dafb;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  .Searchbar_body {
    width: 80vw;
    margin-left: 10vw;
    min-height: 25vh;
    height: auto;
    flex-direction: column;
  }
  .Searchbar_body input {
    font-size: 1rem;
    width: 60vw;
    align-items: center;
    margin-top: 5vh;
    border: 1px solid white;
    border-radius: 5px;
  }
  .Search_filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
  }
  .Search_filters input {
    float: left;
    margin: 0;
    padding: 0;
  }
}
