.Searchbar_body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 25vw;
  width: 50vw;
  height: 10vh;
  padding: 1vw;
  background-color: #282c34;
  border: 50px, solid, #61dafb;
  border-radius: 50px;
}
.Searchbar_body input {
  background-color: #282c34;
  padding: 1vw;
  padding-left: 0;
  width: 20vw;
  color: white;
  border: none;
  font-size: 1.5rem;
}

.Searchbar_body button {
  margin-left: 2.5vw;
  background-color: #282c34;
  border: none;
  color: #61dafb;
  font-size: 1.5rem;
}
.Searchbar_body img {
  height: 5vh;
}
@media screen and (max-width: 600px) {
  .Searchbar_body {
    width: 80vw;
    margin-left: 10vw;
    min-height: 25vh;
    flex-direction: column;
  }
  .Searchbar_body input {
    font-size: 1rem;
    width: 60vw;
    margin-left: 20vw;
  }
}

@media screen and (min-width: 601px) {
}
